<% layout('/admin/admin') -%>


	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<strong class="card-title col-8">Report Management</strong>
				<a href="<%=shareall.mdun%>/product/add" class="btn btn-success">Add</a>
			</div>
			<div class=" table-stats ov-h card-body">
				
			
		
				<table id="bootstrap-data-table" class="table ">
					<thead>
						<tr>
							<th>ID</th>
							<th>MXG</th>
							<th>EXP</th>
							<th>State</th>
							<th>Chip IOT</th>
							<th>Manufacturer</th>
							<th>Name</th>
							
						</tr>
					</thead>
					<tbody>
						<!-- do du lieu  -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
