<header id="header" class="header">
  <div class="top-left">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%=shareall.mdun%>"><img src="BE/images/logo.png" alt="Logo"></a>
      <a class="navbar-brand hidden" href="<%=shareall.mdun%>"><img src="BE/images/logo2.png" alt="Logo"></a>
      <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
    </div>
  </div>
</header>