<% layout('/admin/admin') -%>
<div class="col-12">
	<div class="card">
		<div class="card-header">
			<strong class="card-title col-8">User Table</strong>
			<a href="<%=shareall.mdun%>/user/add" class="btn btn-success">Add</a>
		</div>
		<div class="table-stats ov-h card-body">
			<table id="bootstrap-data-table" class="table ">
				<thead>
					<tr>
						<th class="serial">Address</th>
						<th>Name</th>
						<th>Home Address</th>
						<th>Phone</th>
						<th>Age</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
<% include ../../../public/BE/admin/user/index.vinsofts %>
