<% layout('/admin/admin') -%>

<div class="content">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<strong class="card-title col-8">Customer Table</strong>
						<a href="<%=shareall.mdun%>/user/add" class="btn btn-success">Add</a>
					</div>
					<div class="table-stats order-table ov-h">
						<table id="bootstrap-data-table" class="table ">
							<thead>
								<tr>
									<th class="serial">Address</th>
									<th>Name</th>
									<th>Home Address</th>
									<th>Phone</th>
									<th>Age</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
    window.addEventListener('load', async function () {
			var acc = await accf();
			var datas = await ContractCustomer.methods.getAll(10,0).call({
					from: acc,
					gasPrice: gasPrice,
					gasLimit: gasLimit
			});
			var dataoke = []
			datas.forEach(element => {
				if(element[0]!=0){
					dataoke.push(element)
				}
			});
			$('#bootstrap-data-table').DataTable({
				data: dataoke
			});
		})
</script>