<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootply snippet - Bootstrap View Student Details</title>
    <meta name="generator" content="Bootply">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap View Student Details page is part of my FMS project example.">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- CSS code from Bootply.com editor -->

    <style type="text/css">
        body {
            margin: 10px;
            padding: 20px;
        }
    </style>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="web3.min.js"></script>
    <script src="BE/common/config.js"></script>
    <% if(id.length<5){ %>
    <script>
        alert('Contracts do not exist')
        location.href = '/';
    </script>
    <% }else{ %>
    <script>
        try {
            var contractWarranty = new web3.eth.Contract(abiWarranty, '<%=id%>');
        } catch (error) {
            alert('Contracts do not exist')
            location.href = '/';
        }
    </script>
    <% } %>
</head>

<!-- HTML code from Bootply.com editor -->

<body>

    <div class="row panel panel-success">
        <div class="panel-heading lead">
            <div class="row">
                <div class="col-lg-8 col-md-8"><i class="fa fa-users"></i> View Warranty Details
                    <%=id %>
                </div>
                <div class="col-lg-4 col-md-4 text-right">
                    <a href="/" class="btn btn success">Home</a>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <center>
                                <span class="text-left">
                                    <img src="https://lh5.googleusercontent.com/proxy/EkYugv9KzLUfAIpv-P4g6b0_mKxhcsfTvNmVueDn6XDHQp_SA0_hG2YFVAwB0Lbj_S-LrT-OtYsvxXMCrkZZMCmBfwelTQaAZW6GZwMQ8bRLwEvZonc0k0NxUpkhLBDuApx25K735rZfyHCIqA1RVpSdU84HF7U-j3xAwt3XLevAJtr5pwaVnRUC=w120-h120"
                                        class="img-responsive img-thumbnail">


                                    <!-- Modal -->
                                    <div class="modal fade" id="PhotoOption" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog" style="width:30%;height:30%;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">×</button>
                                                    <h4 class="modal-title text-success" id="myModalLabel"><i class="fa fa-gear"></i>
                                                        <span class="text-right">Viddhyut Mall</span></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <center><img src="upload/profile_pic/701b4263f7d38604699b7c1f89a3e6a6.jpg"
                                                            class="img-responsive img-thumbnail"></center>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="upload/upload-view.php?id=68" class="btn btn-success"><i
                                                            class="fa fa-photo"></i> Upload</a>
                                                    <a href="upload/upload-view.php?id=68&amp;name=Viddhyut Mall&amp;src=view"
                                                        class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                                </span></center>

                            <div class="table-responsive panel">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <span onclick="myFunction()" class="btn btn-danger text-success btn-block"><i
                                                        class="fa fa-rupee"></i>
                                                    In Phiếu</span>
                                                <a href="#" class="btn btn-success btn-block" data-toggle="modal"
                                                    data-target="#PhotoOption"><i class="fa fa-photo"></i> Báo Hỏng</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#Summery" class="text-success"><i class="fa fa-indent"></i>
                                        Summery</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="Summery" class="tab-pane fade in active">
                                    <div class="table-responsive panel">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-users"></i> Name A</td>
                                                    <td id="nameA"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-phone"></i> Phone</td>
                                                    <td id="phoneA"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-sort-numeric-desc"></i> ID</td>
                                                    <td id="idA"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-home"></i>
                                                        Home Address</td>
                                                    <td id="homeA"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-user"></i> Type</td>
                                                    <td id="typeA"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-arrow-circle-o-right"></i>
                                                        Address ETH</td>
                                                    <td id="addressA"></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <hr />
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-users"></i> Name B</td>
                                                    <td id="nameB"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-phone"></i> Phone</td>
                                                    <td id="phoneB"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-home"></i> Home Address</td>
                                                    <td id="homeB"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-bookmark"></i> Address ETH</td>
                                                    <td id="addressB"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr />
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-bookmark"></i> Name
                                                        Product</td>
                                                    <td id="nameProduct"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-sort-numeric-desc"></i>
                                                        Manufacturer</td>
                                                    <td id="manufacturerProduct"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-university"></i> Product
                                                        Id</td>
                                                    <td id="productId"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-calendar"></i> MFG</td>
                                                    <td id="MFG"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-calendar"></i> EXP</td>
                                                    <td id="EXP"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-success"><i class="fa fa-medkit"></i> State</td>
                                                    <td id="state"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.table-responsive -->

        </div>
    </div>


    <script>
        window.addEventListener('load', async function () {
            acc = await accf();
            var detail = await contractWarranty.methods.convention().call();
            var product = await ContractProduct.methods.productDetail(detail['idProduct']).call();
            $("#nameProduct").text(product["name"])
            $("#manufacturerProduct").text(product['manufacturer'])
            $("#MFG").text(product['MFG'])
            $("#EXP").text(product['EXP'])
            $("#state").text(product['state'])
            $("#productId").text(product['id'])

            //get ben A
            var uA = await ContractMaster.methods.getAgency(detail['employer']).call();
            $("#nameA").text(uA['name'])
            $("#phoneA").text(uA['phoneNumber'])
            $("#idA").text(uA['id'])
            $("#homeA").text(uA['homeAddr'])
            if (uA['Type'] == 1) {
                $("#typeA").text('Custommer')
            } else if (uA['Type'] == 2) {
                $("#typeA").text('Agency')
            } else if (uA['Type'] == 3) {
                $("#typeA").text('Admin')
            } else {
                $("#typeA").text('Unregistered')
            }
            $("#addressA").text(detail['employer'])

            //get ben B
            var uB = await ContractCustomer.methods.accountDetail(detail['buyer']).call();
            $("#nameB").text(uB['name'])
            $("#phoneB").text(uB['phoneNumber'])
            $("#homeB").text(uB['homeAddr'])
            $("#addressB").text(detail['buyer'])
        })
    </script>
    <script>
        function myFunction() {
            window.print();
        }
    </script>
</body>

</html>