<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">Flat Admin</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav" id="menu">
                <li class="active">
                    <a href="/">
                        <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a href="/product">
                        <span class="icon fa fa-tachometer"></span><span class="title">List Product</span>
                    </a>
                </li>
                <li class="">
                    <a href="/customer">
                        <span class="icon fa fa-tachometer"></span><span class="title">List Customer</span>
                    </a>
                </li>
                <li class="">
                    <a href="/contract">
                        <span class="icon fa fa-tachometer"></span><span class="title">List Contract</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>