<% layout('/pages/index') -%>
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">ADD
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="address">Address <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="address" value="" placeholder="Address" >
                        </div>
                        <div class="form-group">
                            <label for="name">Name <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="name" value="" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="MFG">Home Address <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="homeAdrs" placeholder="Home Address">
                        </div>
                        <div class="form-group">
                            <label for="EXP">Phone <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="state">Age <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="age" placeholder="Age">
                        </div>
                        <div class="form-group">
                            <label for="number">Type <span style="color:red">*</span></label>
                            <select id="type" name="type" class="form-control">
                                <option value=""></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-success" onclick="<%=event%>">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function createCustommer() {
        var address = $('#address').val();
        var name = $('#name').val();
        var homeAdrs = $('#homeAdrs').val();
        var phone = $('#phone').val();
        var age = $('#age').val();
        var type = $('#type').val();
        var acc = await web3.eth.getAccounts();
        ContractPeople.methods.register(address, name, homeAdrs, phone, age, type).send({
            from: acc[0]
        }).then((e) => {
            console.log(e);
            history.go(-1)
        });
    }
    if (basenow.includes('edit')) {
        window.addEventListener('load', function () {
            function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) { return pair[1]; }
                }
                return (false);
            }
            var a = getQueryVariable("id");
            // console.log(a);
            ContractPeople.methods.accountDetail(a).call().then(datas => {
                console.log(datas)
                $('#address').val(datas['owner']);
                $('#name').val(datas['name']);
                $('#homeAdrs').val(datas['homeAddr']);
                $('#phone').val(datas['phoneNumber']);
                $('#age').val(datas['age']);
                $('#type').val(datas['Type']);
            });

        });
    }
    async function editCustommer(){
        var name = $('#name').val();
        var homeAdrs = $('#homeAdrs').val();
        var phone = $('#phone').val();
        var age = $('#age').val();
        var acc = await web3.eth.getAccounts();
        ContractPeople.methods.updateAccount(name, homeAdrs, phone, age).send({
            from: acc[0]
        }).then((e) => {
            console.log(e);
            history.go(-1)
        });
    }
    // end edit product
</script>