<% layout('/pages/index') -%>
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title"></div>
                        </div>
                        <a href="<%=type%>add" type="button" class="pull-right btn btn-success" id="addd"> ADD </a>
                    </div>
                    <div class="card-body">
                        <table id="mytable" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Address</th>
                                    <th>Name</th>
                                    <th>Home Address</th>
                                    <th>Phone Number</th>
                                    <th>Age</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="datas"> 

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load',async function () {
        ContractPeople.methods.getAllAccount().call().then(datas => {
            $("#datas").empty();
            datas.forEach(async (v, k) => {
                var detail = await ContractPeople.methods.accountDetail(v).call();
                $("#datas").append(
                    `<tr>
                        <td>${k+1}</td>
                        <td>${detail['owner']}</td>
                        <td>${detail['name']}</td>
                        <td>${detail['homeAddr']}</td>
                        <td>${detail['phoneNumber']}</td>
                        <td>${detail['age']}</td>
                        <td>${detail['Type']}</td>
                        <td><a class="btn btn-warning" id="edittt" href="<%=type%>edit?id=${detail['owner']}">Edit</a></td>
                    </tr>`
                )
            $("#mytable").DataTable();
            });
        });
    })

    // window.addEventListener('load',async function () {
    //     var acc = await web3.eth.getAccounts();
    //     if(acc[0] != addressOwner){
    //         alert('ok')
    //         $( "#add" ).prop( "disabled", true );
    //         // document.getElementById("add").disabled = true;
    //     }
    // });
</script>